DATABASE_URL=postgresql://user:password@localhost:5432/yourdb
JWT_SECRET=your-secret
JWT_REFRESH_SECRET=your-refresh-secret
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
CLICK_SECRET=
PAYME_KEY=
PORT=3000
CORS_URL=